{% if cart == empty %}
  <span class="svg-wrapper">{{ 'icon-cart.svg' | inline_asset_content }}</span>
{% else %}
  <span class="svg-wrapper">{{ 'icon-cart.svg' | inline_asset_content }}</span>
{% endif %}

<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  {%- liquid
    assign filtered_item_count = 0
    for item in cart.items
      if item.product.handle != "{{ shop.metafields.global.roca_sifter.value.handle }}"
        assign filtered_item_count = filtered_item_count | plus: item.quantity
      endif
    endfor
  -%}
  <div class="cart-count-bubble">
    {%- if filtered_item_count < 100 -%}
      <span aria-hidden="true">3</span>
    {%- endif -%}
    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: filtered_item_count }}</span>
  </div>
{%- endif -%}
